* {
	margin: 0px;
}

html {
	height: 100%;
	position: relative;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-height: 100%;
	display: flex;
	flex: 1;
}

#root {
	height: inherit;
	flex: 1;
	display: flex;
	flex-direction: column;
	background-color: #655d8a;
	gap: 10px;
	align-items: center;
}

main {
	flex: 1;
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1350px;
}

footer {
	font-size: 25px;
    margin-bottom: 5px;
    transition: transform .2s;
}

footer a {
    color: black;
    
}

footer:hover {
    transform: scale(1.3);
}


